@import '../../style/variables.scss';

.single-comic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    &__img {
        width: 293px;
        height: 450px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        background-color: #9F0013;
        padding: 20px 30px;
        border-radius: 20px;
        transition: 0.5s all;
        color: #fff;
        &:hover {
            transform: scale(1.05);
            transition: 0.5s all;
            color: #fff;
        }
    }
}

@media(max-width:1030px) {
    .single-comic {
        margin-top: 50px;
        display: flex;
    }
}

@media(max-width:750px) {
    .single-comic {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            margin: 20px 0px;
        }
    }
}